@keyframes blink {
    0% {
        opacity 1
        position initial
    }
    50% {
        opacity 1
        position initial
    }
    50.0001% {
        opacity 0
        position absolute
    }
    100% {
        opacity 0
        position absolute
    }
}